// Place all the styles related to the api/tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album-info p {
  font-size: 45px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

h4 {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.album-info-title {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 45px;
  margin-top: 30px;
}

.track-info-artist {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  margin: 6px;
  font-size: 28px;
}

.track-info-description {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  margin: 6px;
  font-size: 20px;
}

.track-info-year {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  margin: 6px;
  font-size: 20px;
}
