@import 'helper/variables';

.album-form-body {
  width: 100%;
}

.album-form-main {
  font-family: $main-font;
}

.all-form-content {
  width: 100%;
  height: auto;
}

.form-left-side {
  min-width: 45%;
}

label {
  font-size: 15px;
  margin: 0;
  font-family: $main-font;
}

.form-title {
  margin-bottom: 40px;
  margin-top: 0;
  text-align: center;
  font: {
    size: 31px;
    weight: 600;
    family: $main-font;
  }
}

.description-label {
  margin: 0;
}

.album-description-input {
  resize: none;
  outline: none;
}

.album-title-input {
  line-height: 15px;
  height: 20px;
  font-size: auto;
  margin: 20px;
  outline: none;
}

.album-year-input {
  outline: none;
}

.form-split-left, .form-split-right {
  width: 45%;
}

.album-genre-input select {
  -webkit-appearance: none;
  background: white;
  outline: none;
}

.submit-input {
  font-family: $main-font;
  color: white;
  background-color: $bandom-teal-light;
  border: none;
  font-size: 19px;
  margin: 25px;
  padding: 6px 12px 6px 12px;
  cursor: pointer;
}

.preview-box {
  height: 230px;
  width: 230px;
  border: 1px dotted grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-preview {
  height: 230px;
  width: 230px;
  border: $thin-gray-border;
}

.profile-img-preview {
  height: 180px;
  width: 180px;
  border: $thin-gray-border;
  margin: 20px 0 20px 0;
}

.file-input {
  padding: 12px;
  margin: 15px 0 15px 0;
  background: rgba(0, 161, 198, 0.6);
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid $bandom-teal-light;
  border-left: 16px solid $bandom-teal-light;
  border-bottom: 16px solid $bandom-teal-light;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 30%;
  left: 38.5%;
  z-index: 9001;
  background: 50% 50% no-repeat rgb(249,249,249);
  opacity: .8;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.form-tracks-div {
  display: flex;
}

.uploaded-tracks {
  border-right: $thin-gray-border;
  width: 50%;
  padding: 25px;
}

.track-upload {
  margin-top: 25px;
}

.track-upload-box {
  width: 50%;
  padding: 25px;
}

.clear-tracks-button {
  font-family: $main-font;
  color: white;
  background-color: $bandom-teal-light;
  border: none;
  font-size: 12px;
  margin: 10px 0 10px 0;
  padding: 6px 12px 6px 12px;
  cursor: pointer;
  outline: none;
}

.add-track-button {
  font-family: $main-font;
  color: white;
  background-color: $bandom-teal-light;
  border: none;
  font-size: 12px;
  margin: 10px 0 10px 0;
  padding: 6px 12px 6px 12px;
  cursor: pointer;
}

.fa-picture-o {
  color: #656565;
  background: none;
}

.album-form-content {
  width: 950px;
  padding: 30px;
  margin: 140px auto;
  background: #FFF;
  min-height: 1450px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.album-form-content .inner-form-div{
    padding: 30px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
}

.inner-form-div2 {
  padding: 30px;
  display: flex;
  justify-content: space-around;
  background: #F8F8F8;
  border-radius: 6px;
  margin-bottom: 15px;
}

.album-form-content h1{
  background: $bandom-teal-light;
  padding: 20px 30px 15px 30px;
  margin: -30px -30px 30px -30px;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 30px $main-font;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #257C9E;
}

.album-form-content h1 > span{
  display: block;
  margin-top: 2px;
  font: 13px $main-font;
}

.album-form-content {
  label {
    display: block;
    font: 16px $main-font;
    color: #888;
    margin-bottom: 15px;
  }
}

.album-form-content input[type="text"],
.album-form-content input[type="number"],
.album-form-content textarea,
.album-form-content select {
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border: 2px solid #fff;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.album-form-content {
  .form-section {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.album-form-content {
  .form-section {
    span {
      background: $bandom-teal-light;
      padding: 5px 10px 5px 10px;
      position: absolute;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border: 4px solid #fff;
      font-size: 14px;
      margin-left: -45px;
      color: #fff;
      margin-top: -3px;
    }
  }
}
