@import 'helper/variables';

li {
  list-style: none
}

.album-content-main {
  margin-top: 140px;
  height: auto;
  position: relative;
  display: flex;
}

.album-all-content-row1 {
  background: #f2f2f2;
  margin-left: 150px;
  margin-right: 150px;
  position: relative;
  z-index: 1;
  width: 100%;
}

.background-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
}

.art-div {
  margin: {
    top: 50px;
    bottom: 50px;
    left: 105px;
  }
  display: flex;
}

.album-art-image {
  height: 300px;
  width: 300px;
  margin-left: 100px;
  object-fit: cover;
  border: $thin-gray-border;
}

.tracks-div {
  font-family: $main-font;
  margin-bottom: 50px;
  margin-right: 50px;
  padding-left: 50px;
  border-left: $thin-gray-border;
}

.album-info {
  width: 45%;
  padding-left: 60px;
  margin-top: 0px;
}

.album-info-title {
  font: {
    family: $main-font;
    size: 2.9em;
    weight: 500;
  }
  margin-top: 30px;
}

.album-info-artist {
  font-family: $main-font;
  margin: 6px;
  font-size: 1.75em;
}

.album-show-h4 {
  margin-top: 0px;
}

.album-info-box {
  display: flex;
}

.album-info-description {
  font-family: $main-font;
  margin: 6px;
  font-size: 1.25em;
}

.single-track-div {
  margin: 10px 10px 10px 0;
}

.delete-album-button {
  font-family: $main-font;
  margin-top: 30px;
  margin-right: 0;
  font-size: 18px;
  background: #f75a56;
  color: white;
  height: 25px;
  width: 150px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  outline: none;
  opacity: .4;
  padding: 7px 11px 7px 11px;
  &:hover {
    opacity: 1;
  }
}

.delete-album-link {
  min-width: auto;
  margin: 0 auto;
  &:hover {
    text-decoration: none;
  }
}

.tracks-list-el {
  ul {
    padding-left: 0px !important;
    margin-top: 0px !important;
  }
}

.tracks-list-el {
  audio {
    width: 380px;
  }
}

@media only screen and (max-width: 1200px) {
  .album-info-box {
    display: block;
  }

  .art-div {
    flex-direction: column;
    justify-content: center;
  }

  .art-div-ul {
    padding: 0px;
  }

  .album-art-image {
    height: 220px;
    width: 220px;
    margin-left: 0px;
  }

  .album-all-content-row1 {
    margin: 0px;
  }

  .album-info-description {
    font-size: 1em;
  }

  .album-info {
    width: 100%;
    padding-left: 20px;
  }

  .album-info-title {
    font-size: 2em;
  }

  .album-info-artist {
    font-size: 1.4em;
  }

  .tracks-div {
    width: 100%;
    padding-left: 20px;
  }
}
