li {
  list-style: none
}

.album-content-main {
  margin-top: 140px;
  // background: red;
  height: auto;
  position: relative;
  margin-bottom: 50px;
  display: flex;
}
//
.album-all-content-row1 {
  background: #f2f2f2;
  margin-left: 150px;
  margin-right: 150px;
  position: relative;
  z-index: 1;
  width: 100%;
}

.background-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  position: absolute;
  // align-items: stretch;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  // object-fit: cover;
}
//
.col1 {
  display: flex;
  flex-direction: column;
  // align-content: flex-end;
  width: 45%;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.col2 {
  display: flex;
  flex-direction: column;
  // align-content: flex-start;
  width: 45%;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
//
// .album-info {
//   font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
//   font-size: 25px;
//   width: 450px;
// }
//
.album-art-image {
  // margin: 0 auto;
  max-height: 450px;
  max-width: 450px;
  margin-left: 150px;
}

.tracks-div {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  margin-bottom: 50px;
}

.album-info-box {
  display: flex;
  justify-content: flex-start;
}
//
.art-div {
  margin-top: 50px;
  // width: 500px;
}
//
.ashow-footer {
//    width: 100%;
//    bottom: 0;
//    position: absolute;
   height: 100px;
   background: #477987;
   color: white;
   text-align: center;
   font-family: sans-serif;
   padding: 20px;
}
