li {
  list-style: none
}

.album-content-main {
  margin-top: 140px;
  height: auto;
  position: relative;
  display: flex;
}

.album-all-content-row1 {
  background: #f2f2f2;
  margin-left: 150px;
  margin-right: 150px;
  position: relative;
  z-index: 1;
  width: 100%;
}

.background-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
}

.art-div {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 105px;
  display: flex;
}

.col1 {
  display: flex;
  flex-direction: column;
  width: 45%;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.col2 {
  display: flex;
  flex-direction: column;
  // align-content: flex-start;
  width: 45%;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.album-art-image {
  height: 300px;
  width: 300px;
  margin-left: 100px;
}

.tracks-div {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  margin-bottom: 50px;
  margin-right: 50px;
  padding-left: 50px;
  border-left: 1px solid grey;
}

.album-info {
  width: 45%;
  padding-left: 60px;
}

.album-info-box {
  display: flex;
  justify-content: flex-start;
}

.single-track-div {
  margin: 10px 10px 10px 0;
}
