.create-form {
  justify-content: space-around;
  margin-top: 80px;
  // height: 700px;
}

.form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
}

label {
  font-size: 15;
  margin: 10px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.form-title {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  margin-top: 160px;
  margin-left: 45%;
}

.form-input {
  line-height: 15px;
  height: 20px;
  font-size: auto;
}

.submit-input {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: white;
  background-color: rgba(0, 161, 198, 1);
  border: none;
  // height: 15px;
  // width: 30px;
  font-size: 19px;
}
