li {
  list-style: none
}

.album-content-main {
  margin-top: 140px;
  position: absolute;
}
//
// .album-all-content-row1 {
//   margin-left: 250px;
//   margin-right: 250px;
//   position: relative;
//   z-index: 0;
// }
//
// .background-image {
//   position: absolute;
//   width: 100%;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   z-index: -1;
// }

// .background-image {
//   width: 100%;
//   height: 400px;
//   background-image: url(https://mdn.mozillademos.org/files/11305/firefox.png),
//       url(.png),
//   background-repeat: no-repeat,
//       no-repeat,
//       no-repeat;
//   background-position: bottom right,
//       left,
//       right;
// }
//
// .col1 {
//   display: flex;
//   flex-direction: column;
//   // align-content: flex-end;
//   width: 45%;
//   font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
// }
// .col2 {
//   display: flex;
//   flex-direction: column;
//   // align-content: flex-start;
//   width: 45%;
//   font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
// }
//
// .album-info {
//   font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
//   font-size: 25px;
//   width: 450px;
// }
//
.album-art-image {
  // margin: 0 auto;
  max-height: 450px;
  max-width: 450px;
  margin-left: 150px;
}
//
// .album-image {
//   width: 500px;
//   // margin: 0 auto;
// }
//
// .album-info-box {
//   display: flex;
//   justify-content: flex-start;
// }
//
// .art-div {
//   margin: 0;
//   width: 500px;
// }
//
.ashow-footer {
   width: 100%;
   bottom: 0;
   position: relative;
   height: 100px;
   background: #477987;
   color: white;
   text-align: center;
   font-family: sans-serif;
   padding: 20px;
}
