.create-form {
  // border: 4px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 80px;
  height: 700px;
}

label {
  font-size: 15;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
