.index-main {
  width: 100%;
}

.index-header {
  background: white;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.15);
  height: 139px;
  margin-top: 0;
  margin-bottom: 40px;
  // margin-bottom: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  font-size: 15;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.index-title {
  font-weight: 500;
  font-size: 26px;
  cursor: pointer;
}

.index-page-title-div {
  margin-top: 175px;
  width: 100%;
  min-height: 40px;
  display: block;
}

.lo-index-page-title-div {
  margin-top: 175px;
  width: 100%;
  min-height: 40px;
  display: block;
}

.index-page-title {
  margin-bottom: 0;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: normal;
  display: flex;
  justify-content: center;
}

.lo-index-page-title {
  margin-bottom: 0;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: normal;
  display: flex;
  justify-content: center;
}

.index-title:hover {
  text-decoration: none;
}

.album-block {
  overflow: hidden;
  clear: both;
}

.album-items {
  margin-left: 210px;
  margin-right: 90px;
  min-height: 433px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 15px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.lo-album-items {
  margin-left: 210px;
  margin-right: 90px;
  min-height: 433px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 15px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.album-item-li {
  height: 326px;
  width: 206px;
  // padding: 8px;
  margin: 12px;
  background: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
