.album-form-body {
  margin-top: 139px;
}

.user-discog-header {
  font-size: 24px;
  margin-bottom: 0;
  text-decoration: none;
}
.user-music {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.user-albums {
  display: flex;
}

.user-album-item {
  padding: 15px;
}

.create-form {
  margin-top: 80px;
}

.form {
  margin-top: 60px;
  // display: flex;
  // flex-direction: column;
  // align-content: flex-end;
  height: 700px;
}

label {
  font-size: 15px;
  margin: 10px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.form-title {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  margin-top: 70px;
  margin-left: 45%;
}

.form-input {
  line-height: 15px;
  height: 20px;
  font-size: auto;
}

.submit-input {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: white;
  background-color: rgba(0, 161, 198, 1);
  border: none;
  font-size: 19px;
}
