.artist-show-main {
  margin-top: 150px;
  font-size: 15;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.artist-info-div {
  min-height: 680px;
}

.discog-header {
  margin-left: 25%;
  margin-right: 25%;
  text-decoration: underline;
  font-size: 30px;
}

.albums-list {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 90px;
}

.album-artwork-show {
  height: 200px;
  width: 200px;
  object-fit: cover;
  padding-top: 15px;
}

.album-item {
  border-bottom: 1px solid grey;
}
.album-item:last-child {
  border-bottom: none;
}
