.artist-show-main {
  margin-top: 150px;
  font-size: 15;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.artist-info-div {
  min-height: 680px;

}

.arshow-footer {
  display: block;
  width: 100%;
  height: 100px;
  background: #477987;
  color: white;
  bottom: 0;
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
}
