@import 'helper/variables';

.artist-show-body {
  font-size: 15px;
  font-family: $main-font;
  width: 80%;
  margin: auto;
  background-color: #f2f2f2;
  padding: 80px;
  margin-top: 139px;
  z-index: 5;
  height: 1000px;
  overflow: scroll;
}

.artist-info {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

.artist-name {
  font-family: $main-font;
  font-size: 2.9em;
}

.artist-inner-info {
}

.artist-info-div {
  display: flex;
}

.cover-div {
  margin-top: 140px;
  height: 100%;
  color: white;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-show-main {
  background: linear-gradient(to bottom right, #000, #537895, orange, #000);
}

.cover-title {
  font-weight: 800;
  font-size: 51px;
  margin: 25px;
  text-shadow: 6px 6px 6px #000000;
}

.discog-header {
  font-size: 24px;
  margin-bottom: 0;
}

.artist-pic {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border: $thin-gray-border;
}

.location {
  text-decoration: none;
  font-size: 1.25em;
}

.album-item-artwork {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: $thin-gray-border;
  margin-right: 20px;
}

.album-item-info {
  padding-bottom: 10px;
}

.album-item-info-title {
  margin-top: 0;
  font-size: 2.1em;
}

.album-item {
  border-bottom: 1px solid grey;
  padding-bottom: 40px;
  padding-top: 40px;
  &:last-child {
    border-bottom: none;
    margin-bottom: none;
  }
}

.album-item-tracks {
  audio {
    width: 650px;
  }
}

.album-item-top {
  display: flex;
  margin-bottom: 28px;
}

@media only screen and (max-width: 1070px) {
  .artist-show-body {
    width: 100%;
    padding: 40px;
  }

  .artist-info {
    flex-direction: column;
    justify-content: center;
  }

  .artist-name {
    font-size: 2.2em;
  }

  .albums-list {
    padding-left: 0px;
  }

  .artist-pic {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (max-width: 750px) {
  .album-item-tracks {
    audio {
      width: 350px;
    }
  }

  .album-item-info-title {
    font-size: 1.7em;
  }

  .artist-show-body {
    padding: 30px;
  }

  .album-item-artwork {
    height: 100px;
    width: 100px;
  }

  .artist-name {
    font-size: 2em;
  }

  .location {
    font-size: 1em;
  }
}
