@import "helper/variables";

.icon {
  padding: 8px 8px 15px 8px;
}

.footer-text {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
}

.footer {
  width: 100%;
  height: 120px;
  background: $bandom-teal;
  color: white;
  text-align: center;
  font-family: sans-serif;
  padding-top: 15px;
}

.session-footer {
  @extend .footer;
  position: absolute;
  bottom: 0;
}
