.landing-main {
  width: 100%;
}

.landing-header {
  background: white;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.15);
  height: 139px;
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
  font-size: 15px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.landing-header-toprow {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: inherit;
  font-family: inherit;
  color: black;
  margin-top: 24px;
  }

.toprow-left {
  display: flex;
  justify-content: space-between;
}

.toprow-right {
  margin-right: 180px;
}

.search-bar {
  background: #fff;
  border: 1px solid #bebebe;
  border-radius: 3px;
  height: 30px;
  width: 208px;
  padding: 0 28px 0 10px;
  font-family: inherit;
  font-size: 14px;
}

.search-input {
  outline: none;
  border: none;
  height: 85%;
  width: 95%;
  left: 0;
}

.search-icon {
  background: image-url("search.png") no-repeat;
  margin-top: 8px;
  margin-left: 8px;
  background-size: 100%;
  float: right;
  height: 16px;
  width: 16px;
  position: absolute;
}

.botrow-left {
  display: flex;
  justify-content: space-between;
  margin-left: 180px;
}

.landing-header-botrow {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 15px 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.landing-header-username {
  margin-top: 10px;
  margin-bottom: 0;
  height: 18px;
  border-right: 1px solid grey;
  font-family: inherit;
  padding-right: 12px;
  overflow: ellipsis;
  color: rgb(119, 119, 119);
  font-size: 17px;
  list-style-type: disc;
}

.landing-header-tagline {
  font-family: inherit;
  font-size: 15px;
  color: rgba(0, 161, 198, 1);
}

.left-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-right: 180px;
  font-family: inherit;
}

.right-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-right: 180px;
  font-family: inherit;
  height: 30%;
  // padding-left: 5px;
}

#session-company_logo{
 background: image-url("bandom-logo2.png") no-repeat;
 height: 50px;
 width: 50px;
 float: left;
 overflow: hidden;
 margin: 5px;
 margin-left: 180px;
}

.landing-login-title {
  font-weight: 500;
  font-size: 26px;
}

.landing-header-li {
  max-height: 18px;
  margin-top: 10px;
  margin-left: 10px;
  // margin-right: 10px;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  // padding: 5px;
}

.landing-header-li:hover {
  text-decoration: underline;
}
