.landing-main {
  width: 100%;
}

.landing-header {
  background: white;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.15);
  height: 139px;
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 15;
  font-size: 15px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.landing-header-toprow {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: inherit;
  font-family: inherit;
  color: black;
  margin-top: 24px;
  }

.toprow-left {
  display: flex;
  justify-content: space-between;
}

.toprow-right {
  margin-right: 180px;
}

.botrow-left {
  display: flex;
  justify-content: space-between;
  margin-left: 180px;
}

.user-header-link {
  display: flex;
}

.user-header-link-pic {
  width: 26px;
  height: 26px;
  margin-right: 9px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid lightgrey;
}

.landing-header-botrow {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 15px 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.landing-header-username {
  margin-top: 10px;
  margin-bottom: 0;
  height: 18px;
  border-right: 1px solid grey;
  font-family: inherit;
  padding-right: 12px;
  text-overflow: ellipsis;
  color: rgb(119, 119, 119);
  font-size: 17px;
  list-style-type: disc;
}

.landing-header-tagline {
  font-family: inherit;
  font-size: 15px;
  color: rgba(0, 161, 198, 1);
}

.left-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-right: 180px;
  font-family: inherit;
}

#session-company_logo{
 background: image-url("bandom-logo2.png") no-repeat;
 height: 50px;
 width: 50px;
 float: left;
 overflow: hidden;
 margin: 5px;
 margin-left: 180px;
}

#index-company_logo{
 background: image-url("bandom-logo2.png") no-repeat;
 height: 50px;
 width: 50px;
 float: left;
 overflow: hidden;
 margin: 5px;
 margin-left: 180px;
}

#right-nav-list2 {
  height: 30%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-right: 180px;
  font-family: inherit;
}

.landing-login-title {
  font-weight: 500;
  font-size: 26px;
}

.landing-header-li {
  border-right: 1px solid grey;
  padding-right: 12px;
  max-height: 18px;
  margin-top: 10px;
  margin-left: 10px;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
}

.collection {
  border-right: none;
}

.logout {
  border-right: none;
}

.landing-header-li:hover {
  text-decoration: underline;
}
