
.landing-main {

}

.main-header {
  background: white;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.15);
  height: 105px;
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  transition: margin 0.25s ease-out;
  clear: both;
  margin: 0 auto;
}

.row {
  clear: both;
  margin: 0 auto;
}

div, h1 {
  display: block;
}

.left-header {
  width: 57.5%;
}

.col {
  float: left;
  min-height: 1px;
  position: relative;
}
