
.landing-main {
  width: 100%;
}

.landing-header {
  background: white;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.15);
  height: 139px;
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  font-size: 15;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.landing-header-toprow {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: inherit;
  font-family: inherit;
  color: black;
  margin-top: 24px;
  }

.toprow-left {
  display: flex;
  justify-content: space-between;
}

.toprow-right {
  margin-right: 180px;
}

.search-bar {
  background: #fff;
  border: 1px solid #bebebe;
  border-radius: 3px;
  height: 26px;
  width: 208px;
  padding: 0 28px 0 10px;
  font-family: inherit;
  font-size: 13px;
}

.botrow-left {
  display: flex;
  justify-content: space-between;
  margin-left: 180px;
}

.landing-header-botrow {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: 15px 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.landing-header-username {
  margin-top: 10px;
  margin-bottom: 0;
  height: 18px;
  border-right: 1px solid grey;
  font-family: inherit;
  padding-right: 12px;
  overflow: ellipsis;
  color: rgb(119, 119, 119);
  font-size: 17px;
  list-style-type: disc;
}

.landing-header-tagline {
  font-family: inherit;
  font-size: 15px;
  color: rgba(0, 161, 198, 1);
}

.left-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-right: 180px;
  font-family: inherit;
}

.right-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-right: 180px;
  font-family: inherit;
  height: 30%;
  // padding-left: 5px;
}

.right-nav-list > :first-child {
  border-right: 1px solid grey;
  padding-right: 12px;
}

.second-child {
  border-right: 1px solid grey;
  padding-right: 12px;
}

#session-company_logo{
 background: image-url("bandom-logo2.png") no-repeat;
 height: 50px;
 width: 50px;
 float: left;
 overflow: hidden;
 margin: 5px;
 margin-left: 180px;
}

.landing-login-title {
  font-weight: 500;
  font-size: 26px;
}

.landing-header-li {
  max-height: 18px;
  margin-top: 10px;
  margin-left: 10px;
  // margin-right: 10px;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  // padding: 5px;
}

.landing-header-li:hover {
  text-decoration: underline;
}

.modal-div {
  width: 70%;
  // height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  }

.modal-title-div {
  background-color: #f5f5f5;
  border-bottom: 2px solid #ededed;
  height: 40px;
  padding-top: 3px;
  margin-bottom: 80px;
  font-weight: normal;
  font-size: 20px;
  border-radius: 4px;
  width: 100%;
  }

.modal-form-box {
  margin-top: 2000px;
  border-radius: 14px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  background-color: white;
  width: 450px;
  height: 340px;
 }

.band-icon {
  background: image-url("band-icon.png") no-repeat;
  // border: 1px solid rgba(0, 161, 198, 1);
  width: 240px;
  height: 120px;
  background-size: contain;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 20px;
}

.signup-modal {
  border-radius: 3px;
}

.signup-modal-button {
  background: inherit;
  color: rgba(0, 161, 198, 1);
  border: 1px solid rgba(0, 161, 198, 1);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px 0 7px 0;
  font-weight: 500;
  font-size: 15px;
  width: 100%;
  height: 33px;
  text-align: center;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 30px;
}

.signup-modal-button:hover {
  text-decoration: underline;
}

.modal-button {
  border: none;
  background: none;
  height: 19px;
  margin-top: -3px;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.landing-features {
  height: 679px;
  width: 100%;
  margin-top: 139px;
  margin-bottom: 20px;
}

.landing-main-feature {
  background: image-url("main-feature.jpg") no-repeat;
  width: 74%;
  height: 100%;
  float: left;
  background-size: cover;
  border: 2px solid white;
}

.landing-sub-features {
  height: 679px;
  width: 26%;
  float: left;
  right: 0;
  list-style: none;
  box-sizing: border-box;
  position: absolute;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.sub-feat1 {
  background: image-url("sub-feature1.jpg") no-repeat;
  width: 100%;
  background-size: cover;
  height: 226.3px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}

.landing-subfeat1-div {
  margin-top: 166px;
  color: white;
  padding-top: 5px;
  font-weight: 600;
  font-size: 20px;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.subfeat1-headline {
  margin-bottom: 0;
  margin-right: 5px;
  margin-left: 5px;
  overflow: hidden;
  clear: both;
  color: white;
}

.sub-feat2 {
  background: image-url("sub-feature4.jpg") no-repeat;
  width: 100%;
  background-size: cover;
  height: 226.3px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}

.subfeat2-headline {
  margin-bottom: 0;
  margin-right: 5px;
  margin-left: 15px;
  overflow: hidden;
  clear: both;
  color: white;
}

.landing-subfeat2-div {
  margin-top: 146px;
  color: white;
  padding-top: 5px;
  font-weight: 700;
  font-size: 20px;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.sub-feat3 {
  background: image-url("sub-feature3.jpg") no-repeat;
  width: 100%;
  background-size: cover;
  height: 227.3px;
  border-left: 2px solid white;
}

.subfeat3-headline {
  margin-bottom: 0;
  margin-right: 5px;
  margin-left: 15px;
  overflow: hidden;
  clear: both;
  color: white;
}

.landing-subfeat3-div {
  margin-top: 169px;
  color: white;
  padding-top: 5px;
  font-weight: 700;
  font-size: 20px;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.landing-mainfeat-headline {
  color: white;
  padding: 10px;
  font-weight: 600;
  font-size: 34px;
  z-index: 400;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.main-headline {
  margin-bottom: 0;
  margin-left: 10px;
  overflow: hidden;
  clear: both;
  color: white;
}

.footer {
 display: block;
 width: 100%;
 height: 100px;
 background: #477987;
 color: white;
 // bottom: 0;
 text-align: center;
 font-family: sans-serif;
 padding: 20px;
}

a:hover {
  text-decoration: underline;
}

.footer-text {
 text-align: center;
 margin: 30px;
}
