@import 'helper/variables';

.modal-div {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.modal-title-div {
  background-color: #f5f5f5;
  border-bottom: 2px solid #ededed;
  height: 40px;
  padding-top: 3px;
  margin-bottom: 60px;
  font-weight: normal;
  font-size: 20px;
  border-radius: 4px;
  width: 100%;
}

.modal-form-box {
  margin-top: 2000px;
  border-radius: 14px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-family: $main-font;
  background-color: white;
  width: 450px;
  height: 340px;
}

.band-icon {
  background: image-url("band-icon.png") no-repeat;
  width: 240px;
  height: 120px;
  background-size: contain;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 20px;
}

.signup-modal {
  border-radius: 3px;
}

.signup-modal-button {
  background: inherit;
  color: $bandom-teal-light;
  border: 1px solid $bandom-teal-light;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px 0 7px 0;
  font-weight: 500;
  font-size: 15px;
  width: 100%;
  height: 33px;
  text-align: center;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 30px;
  &:hover {
    text-decoration: underline;
  }
}

.modal-button {
  border: none;
  background: none;
  height: 19px;
  margin-top: -3px;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.landing-features {
  height: 679px;
  width: 100%;
  margin-top: 139px;
  margin-bottom: 20px;
}

.main-feature-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  &:hover {
    opacity: 0.9;
  }
}

.main-feature-outer {
  width: 74%;
}

.main-feature-inner {
  float: left;
  width: 100%;
  height: 679px;
  position: relative;
}

.main-headline {
  width: 100%;
  z-index: 0;
  position: absolute;
  font: {
    size: 30px;
    family: $main-font;
    weight: bolder;
  }
  bottom: 30px;
  left: 25px;
  color: white;
}

.landing-sub-features {
  height: 679px;
  width: 26%;
  float: left;
  right: 0;
  list-style: none;
  box-sizing: border-box;
  position: absolute;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.sub-feat1 {
  width: 100%;
  height: 225px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}

.subfeat-inner {
  position: relative;
  height: 100%;
}

.subfeat-img {
  height: 226.3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  &:hover {
    opacity: 0.9;
  }
}

.subfeat-headline {
  position: absolute;
  color: white;
  width: 100%;
  bottom: 10px;
  left: 6px;
  font: {
    family: $main-font;
    weight: 600;
    size: 20px;
  }
}

.sub-feat2 {
  width: 100%;
  background-size: cover;
  height: 225px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}

.sub-feat3 {
  width: 100%;
  background-size: cover;
  height: 225px;
  border-left: 2px solid white;
}

.grow:hover {
  box-shadow:
    1px 1px #bdbdbd,
    2px 2px #bdbdbd,
    3px 3px #bdbdbd;
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
}

.genre-filter-div {
  min-height: 500px;
  margin-top: 50px;
}

.genre-filter-title {
  font: {
    family: $main-font;
    size: 1.8em;
    weight: normal;
  }
  display: flex;
  justify-content: center;
}

.genre-tabs {
  font-family: $main-font;
  font-weight: bold;
  display: flex;
  justify-content: center;
  background: rgb(53, 100, 161);
  padding: 5px 20px 5px 20px;
  max-width: 1400px;
  flex-wrap: wrap;
}

.genre-tab {
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}

.selected {
  background: rgba(0,0,0,0.8);
}

.genre-filter-results {
  margin-left: 10%;
  margin-right: 10%;
  flex-wrap: wrap;
  display: flex;
}

.landing-album-item-li {
  height: 270px;
  width: 200px;
  margin: 40px;
  background: white;
  font-family: $main-font;
}

.one {
  background: rgb(66, 160, 189);
}

.two {
  background: rgb(213, 31, 38);
}

.three {
  background: rgb(230, 87, 25);
}

.four {
  background: rgb(53, 100, 161);
}

.five {
  background: rgb(49, 200, 35);
}

.six {
  background: rgb(243, 12, 147);
}

.seven {
  background: rgb(233, 73, 73);
}

.eight {
  background: rgb(153, 74, 181);
}

.nine {
  background: rgb(163, 194, 189);
}

.ten {
  background: hsla(172, 100%, 36%, 1);
}
.eleven {
  background: rgb(9, 144, 150);
}

.twelve {
  background: rgb(45, 89, 75);
}

.thirteen {
  background: rgb(145, 167, 230);
}

.fourteen {
  background: rgb(136, 121, 22);
}

.fifteen {
  background: rgb(45, 50, 135);
}

.sixteen {
  background: rgb(100, 36, 38);
}

.seventeen {
  background: rgb(220, 119, 114);
}

.eightteen {
  background: rgb(8, 138, 217);
}

.nineteen {
  background: rgb(274, 44, 210);
}
