.banner {

}

.main-header {
background-color: #DDDDDD;
font: 15px 'Helvetica Neue',Helvetica,Arial,sans-serif;;
font-weight: 400;
// font-size: 2em;
color: black;
width: 100% auto;
height: 105px;
position: relative;
padding: 20px;
}

#company_logo{
 background: image-url("bandom-logo2.png") no-repeat;
 height: 50px;
 width: 50px;
 display: block;
 float: left;
 overflow: hidden;
 margin: 5px;
}

.login-title {
 font-size: 18px;
 font-weight: 500;
 color: #333;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 padding-top: 20px;
 float: left;
}

.landing-header-username {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(119, 119, 119);
  border-right-color: darkgrey;
  border-right-style: solid;
  border-right-width: 1px;
  padding-right: 12px;
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
}

.left-ul {
  float: left;
  width: 400px;
}

.right-ul {
  float: right;
  width: 400px;
}
ul {
  list-style: none;
}

h3 {
  margin: 0;
}
.landing-header-li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  font-size: 14px;
  font-weight: bold;
}
