@import 'helper/variables';
@import 'helper/mixins';

.search-bar {
  background: #fff;
  border: 1px solid #bebebe;
  border-radius: 3px;
  height: 30px;
  width: 216px;
  padding: 0 28px 0 10px;
  font-family: inherit;
  font-size: 14px;
}

.search-input {
  outline: none;
  border: none;
  height: 85%;
  width: 95%;
  left: 0;
}

.search-icon {
  @include photo-content('search.png');
  margin-top: 8px;
  margin-left: 8px;
  background-size: 100%;
  float: right;
  height: 16px;
  width: 16px;
  position: absolute;
}

.search-results {
  display: none;
  background: white;
  position: absolute;
  z-index: 5;
  color: black;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  border-left: 1px solid #ccc;
  width: 234px;
  padding: 0;
  overflow: scroll;
  max-height: 400px;
}

.search-result-item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #F5F5F5;
  &:hover {
    color: white;
    background: $bandom-teal;
  }
}

.result-link:hover {
  text-decoration: none;
}

.link-title {
  margin: 0;
}

.album-result-pic {
  width: 21px;
  height: 21px;
  margin-right: 9px;
  border: $thin-gray-border;
}

.trk-art-result-pic {
  width: 22px;
  height: 22px;
  margin-right: 9px;
  border-radius: 50%;
  object-fit: cover;
}
