.search-bar {
  background: #fff;
  border: 1px solid #bebebe;
  border-radius: 3px;
  height: 30px;
  width: 216px;
  padding: 0 28px 0 10px;
  font-family: inherit;
  font-size: 14px;
}

.search-input {
  outline: none;
  border: none;
  height: 85%;
  width: 95%;
  left: 0;
}

.search-icon {
  background: image-url("search.png") no-repeat;
  margin-top: 8px;
  margin-left: 8px;
  background-size: 100%;
  float: right;
  height: 16px;
  width: 16px;
  position: absolute;
}

.search-results {
  background: white;
  position: absolute;
  top: 81px;
  z-index: 5;
  color: black;
  font-size: 18px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  border-left: 1px solid #ccc;
}

.search-result-item {
  padding: 10px;
  border-bottom: 1px solid #F5F5F5;
  min-width: 350px;
}
