// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  background: #f2f2f2;
  margin: 0;
}

main {
  min-height: 800px;
}

.login-form-container {
  min-height: 800px;
}

.login-signup {
  color: white;
  display: flex;
  height: 15px;
  padding-left: 5px;
}

.login-header {
background-color: #DDDDDD;
font: 15px 'Helvetica Neue',Helvetica,Arial,sans-serif;;
font-weight: 400;
// font-size: 2em;
color: black;
width: 100% auto;
height: 66.406px;
position: relative;
padding: 20px;
}

.company-title {
  font-weight: 500;
}

#session-company_logo{
 background: image-url("bandom-logo2.png") no-repeat;
 height: 50px;
 width: 50px;
 display: block;
 float: left;
 overflow: hidden;
 margin: 5px;
 margin-left: 180px;
}

.login-form-box {
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 text-align: center;
 height: 75% auto;
 font-family: sans-serif;
 background: #f2f2f2;
 min-height: 300px;
 width: 650px;
 }

.login-input1 {
  right: 0;
 padding-left: 5px;
 margin: 15px;
 margin-right: 150px;
 width: 288px;
 display: inline-block;
 font-size: 18px;
 font-family: inherit;
 line-height: 16px;
 height: 30px;
}

.login-input2 {
  right: 0;
 padding-left: 5px;
 margin: 10px;
 margin-right: 90px;
 width: 288px;
 display: inline-block;
 font-size: 18px;
 font-family: inherit;
 line-height: 16px;
 height: 30px;
}

.login-button {
 color: white;
 background: rgba(0, 161, 198, 1);
 width: 300px;
 display: inline-block;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size: 16px;
 height: 36px;
 font-weight: bold;
 padding: 0 1em;
 border: none;
 cursor: pointer;
 margin-bottom: 40px;
 margin-right: 1pc;
}

.login-button:hover {
 text-decoration: underline;
}

.errors {
 color: red;
 text-align: center;
 list-style: none;
}

a {
 color: inherit;
 text-decoration: inherit;
}

.link-word {
 color: rgba(0, 161, 198, 1);
 cursor: pointer;
 margin-bottom: 35px;
 margin-left: 10px;
 font-size: 16px;
}

.option-text {
 font-size: 16px;
 display: flex;
 flex-direction: column;
 align-items: center;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 margin-bottom: 15px;
}

.option-text2 {
 font-size: 16px;
 display: flex;
 justify-content: center;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 margin-bottom: 115px;
}

.top-divider {
 height: 0;
 border-top: 2px dotted #ccc;
 margin: 36px 0 28px 0;
 width: 35%;
 margin: auto;
}

.session-login-title {
 font-size: 18px;
 font-weight: 500;
 color: #333;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 text-align: center;
 padding-top: 35px;
}

.guest-button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 7px;
  margin: 7px;
  color: white;
  background: rgba(0, 161, 198, 1);
  font-size: 14px;
  cursor: pointer;
  border: none;
  margin-bottom: 10px;
}

.footer {
 display: block;
 width: 100%;
 height: 100px;
 background: #477987;
 color: white;
 // position: fixed;
 // bottom: 0;
 text-align: center;
 font-family: sans-serif;
}

a:hover {
  text-decoration: underline;
}

.footer-text {
 text-align: center;
 margin: 30px;
}
