@import 'helper/variables';

.album-info {
  p {
    font-size: 45px;
    font-family: $main-font;
  }
}

h4 {
  font: {
    family: $main-font;
    size: 20px;
    weight: bold;
  }
  text-decoration: underline;
}

.album-info-title {
  font: {
    family: $main-font;
    size: 45px;
    weight: 500;
  }
  margin-top: 30px;
}

.track-info-artist {
  font-family: $main-font;
  margin: 6px;
  font-size: 28px;
}

.track-info-description {
  font-family: $main-font;
  margin: 6px;
  font-size: 20px;
}
