@import 'helper/variables';

.album-info {
  p {
    font-size: 45px;
    font-family: $main-font;
  }
}

h4 {
  font: {
    family: $main-font;
    size: 20px;
    weight: bold;
  }
  text-decoration: underline;
}
