@import 'helper/variables';

.user-page-main {
  font-family: $main-font;
}

.user-page-content {
  padding: 40px 80px 80px 80px;
  margin-top: 125px;
}

.user-music {
  font-family: $main-font;
}

.user-name-header {
  font-family: $main-font;
  font-size: 30px;
  margin-top: 0;
}

.info-header {
  margin: 0;
}

.profile-photo {
  height: 200px;
  width: 200px;
  border: $thin-gray-border;
}

.change-photo-button {
  font-family: $main-font;
  color: white;
  background-color: $bandom-teal-light;
  padding: 6px 12px 6px 12px;
}

.user-location {
  font-weight: normal;
  margin: 0;
}

.user-albums {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.user-album-item {
  padding-left: 30px;
  padding-right: 30px;
}

.user-album-item-title {
  margin: 0;
  font-size: 18px;
}

.user-discog-header {
  font-size: 24px;
  margin-bottom: 0;
  text-decoration: none;
}

.form-modal-div {
  margin: auto;
  display: flex;
  background: white;
  width: 100%;
}

.close-button {
  right: 7px;
  top: 7px;
  position: fixed;
  z-index: 50;
  cursor: pointer;
}

.form-modal-box {
  border-radius: 10%;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-family: $main-font;
  background-color: white;
  width: 840px;
  height: 530px;
 }

.form-modal-button {
  font-family: $main-font;
  color: white;
  background-color: $bandom-teal-light;
  border: none;
  font-size: 13px;
  margin: 10px 0 10px 0;
  padding: 6px 12px 6px 12px;
  cursor: pointer;
}

.submit-edits {
  font-family: $main-font;
  color: white;
  background-color: $bandom-teal-light;
  border: none;
  font-size: 14px;
  padding: 6px 12px 6px 12px;
  cursor: pointer;
  max-height: 35px;
  min-width: 160px;
}

.submit-edits-div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.modal-text {
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
}

.modal-div-left {
  border-right: $thin-gray-border;
  padding: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-div-right {
  padding: 15px;
  text-align: center;
  width: 50%;
}

.location-input {
  min-width: 330px;
  min-height: 45px;
  font-size: 20px;
  outline: none;
  margin: 0 auto;
}

.suggestion-item {
  padding: 4px;
  text-align: left;
  font-size: 14px;
}

.suggestion-icon {
  margin-right: 8px;
}

.dropdown-footer {
  display: flex;
  justify-content: flex-end;
}

.dropdown-footer-image {
  display: inline-block;
  width: 150px;
}

@media only screen and (max-width: 850px) {
  .user-page-content {
    margin-top: 160px;
  }

  .user-album-item {
    margin: 15px;
  }

  .form-modal-box {
    width: 640px;
    height: 450px;
  }

  .location-input {
    min-width: 230px;
  }
}

@media only screen and (max-width: 700px) {
  .form-modal-box {
    width: 500px;
  }

  .location-input {
    min-width: 170px;
  }

  @media only screen and (max-width: 530px) {
    .form-modal-box {
      width: 310px
    }
    .location-input {
      min-width: 60px;
    }

    .profile-img-preview {
      height: 100px;
      width: 100px;
    }

    .change-photo-button {
      width: 100px;
    }

    .form-modal-div {
      flex-direction: column;
    }

    .modal-div-left, .modal-div-right {
      width: 100%;
    }
  }
}
