<!DOCTYPE html>
<html>
  <head>
    <title>Bandom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0m_amkr7qfBF-QOo423unXk5oQVsiHnM	&libraries=places"></script>
  </body>
</html>
